
       	<div class="row">
            <div class="col-md-12" id="pre-about">
                <div class="col-md-6 col-md-offset-3">
                    <h2>Why Foo Woo?</h2>
                    <p id="whyfoowoo"> Foo Woo uses the New York City Restaurant Inspection data stored in a MongoDB database. The backend server is powered by Python using the Flask Framework. The front end is coded in AngularJS. The inspection data is enriched by REST calls using the Yelp API. The purpose of this demo application is to showcase our full stack programming offerings.
            </p>
               </div>
            </div>
            <div class="col-md-12">

		<div class="col-md-3">

			<img src="{{ url_for('static', filename='images/woowoo.jpg')}}" 
                           alt="CEO" class="img-polaroid center-block" />
			<div class="roles center-block ">
				<h5><strong>Woo Woo</strong></h5>
				<p>
					CEO - Founder (the Woo in FooWoo )
				</p>
				<ul class="social-profile">
					<li><a href="#"><i class="icon-facebook icon-32 icon-circled"></i></a></li>
					<li><a href="#"><i class="icon-twitter icon-32 icon-circled"></i></a></li>
					<li><a href="#"><i class="icon-linkedin icon-32 icon-circled"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-3">

			<img src="{{ url_for('static', filename='images/vp_marketing.jpg')}}" 
                           alt="Lead Designer" class="img-polaroid center-block" />
			<div class="roles  center-block ">
				<h5><strong>Juboolee</strong></h5>
				<p>
					VP Marketing 
				</p>
				<ul class="social-profile">
					<li><a href="#"><i class="icon-facebook icon-32 icon-circled"></i></a></li>
					<li><a href="#"><i class="icon-twitter icon-32 icon-circled"></i></a></li>
					<li><a href="#"><i class="icon-linkedin icon-32 icon-circled"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-3">

			<img src="{{ url_for('static', filename='images/designer.jpg')}}" 
                           alt="Lead Designer" class="img-polaroid center-block" />
			<div class="roles  center-block ">
				<h5><strong>Juboolee</strong></h5>
				<p>
					Lead Designer
				</p>
				<ul class="social-profile">
					<li><a href="#"><i class="icon-facebook icon-32 icon-circled"></i></a></li>
					<li><a href="#"><i class="icon-twitter icon-32 icon-circled"></i></a></li>
					<li><a href="#"><i class="icon-linkedin icon-32 icon-circled"></i></a></li>
				</ul>
			</div>
		</div>

		<div class="col-md-3">

			<img src="{{ url_for('static', filename='images/vp_customer_service.jpg')}}" 
                           alt="Lead Designer" class="img-polaroid  center-block " />
			<div class="roles  center-block ">
				<h5><strong>Juboolee</strong></h5>
				<p>
					Public Relations
				</p>
				<ul class="social-profile">
					<li><a href="#"><i class="icon-facebook icon-32 icon-circled"></i></a></li>
					<li><a href="#"><i class="icon-twitter icon-32 icon-circled"></i></a></li>
					<li><a href="#"><i class="icon-linkedin icon-32 icon-circled"></i></a></li>
				</ul>
			</div>
		</div>

            </div>

        </div>   
