	<footer>
	    <div class="row">
                <div class="center-block", style="width:220px;">
		    <h2>Our company</h2>
			<p>
			  <a href="http://www.kditek.com" target="_blank">KDI Technology Solutions, Inc.</a><br/>
			  412 Broadway, 2nd Floor<br/>
			  New York, NY 10013<br/><br/>
			  <i class="icon-phone"></i> 646-724-0875<br/>
			  <i class="icon-envelope"></i>  contact "at" kditek dot com
                       </p>
                </div>
	    </div>
	  <div class="row">
		<div class="center-block", style="width:450px;" , id="copyright">

                    
			<p>Copyright &copy; 2014 KDI Technology Solutions, Inc. - All rights reserved.</p>

		</div>
            </div>
	</footer>
