{% extends "base.html" %}
{% block content %}
     <div id="pre-boro_search"></div>
     <div class="row" id="boro_search">
          <div class="col-md-12">
              <accordion close-others="true">
                  <accordion-group heading="Search By Borough" is-open="false">
                      <div class="panel panel-info">
                          <div class="col-md-2">
                              <select ng-change="getBoro(selectedItem.name,1)" ng-model="selectedItem"
                                  ng-options="boro as boro.name for boro in boroList" 
                                  class="form-control">
                              </select>
                          </div>
                          <div class="col-md-10">
                              <div class="panel-heading">
                                  <h3 class="panel-title">{[{selectedItem.name}]} Restaurants</h3>
                                  <p class="yelp">Click Restaurant Name for Yelp Data</p>
                              </div>
                              <div class="panel-body">
                                  <table class="table">
                                      <thead>
                                          <tr>
                                              <th>Name</th>
                                              <th>Address</th>
                                              <th>Phone</th>
                                              <th>Grade</th>
                                              <th>Zip</th>
                                              <th>Cusine</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr ng-repeat="boro in boro_list" ng-click="yelp(boro)">
                                              <td>{[{boro.dba}]}</td><td>{[{boro.building}]} {[{boro.street}]}</td>
                                              <td>{[{boro.phone | phoneFormat }]}</td>
                                              <td>{[{boro.current_grade}]}</td>
                                              <td>{[{boro.zipcode}]}</td>
                                              <td>{[{boro.cusine_description}]}</td>
                                          </tr></tbody>
                                  </table></div>
                                  <div class="panel-footer">   
                                      <p>{[{doc_count ? doc_count + " found in " +  selectedItem.name : ''}]}  </p>
                                  </div>
                                  <div>
                                      <pagination direction-links="false" boundary-links="true" 
                                           total-items="doc_count" page="currentPage" max-size="10" 
                                           on-select-page="getBoro(selectedItem.name,page)">
                                      </pagination>
                                  </div>
                              </div>
                          </div>
                  </accordion-group>
                  <accordion-group heading="Search By Name">
                      <form class="name_search"> 
                          <label for="restaurantName"> Restaurant Name</label>
                          <input type="text" name="restaurantName" ng-model="restaurant.name" length="60" required>
                          <button ng-click="searchByName(restaurant.name,1)" class="btn btn-primary">Search</button>
                      </form>
                      <div class="panel panel-info">
                          <div class="col-md-12">
                              <div class="panel-heading">
                                  <h3 class="panel-title">{[{restaurant.name}]} Restaurants</h3>
                                  <p class="yelp">Click Restaurant Name for Yelp Data</p>
                              </div>
                              <div class="panel-body">
                                  <table class="table">
                                      <thead>
                                          <tr>
                                              <th>Name</th>
                                              <th>Address</th>
                                              <th>Phone</th>
                                              <th>Grade</th>
                                              <th>Cusine</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr ng-repeat="restaurant in name_restaurant_list" ng-click="yelp(restaurant)">
                                              <td>{[{restaurant.dba}]}</td>
                                              <td>{[{restaurant.building}]} {[{restaurant.street}]}</td>
                                              <td>{[{restaurant.phone | phoneFormat}]}</td>
                                              <td>{[{restaurant.current_grade}]}</td>
                                              <td>{[{restaurant.cusine_description}]}</td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                              <div class="panel-footer">   
                                  <p>{[{name_doc_count ? name_doc_count + " found for " +  restaurant.name : ''}]} </p>
                              </div>
                              <div>
                                  <pagination direction-links="false" boundary-links="true" 
                                       total-items="name_doc_count" page="currentPage" max-size="10" 
                                       on-select-page="searchByName(restaurant.name,page)">   
                                  </pagination>
                              </div>
                         </div>
                      </div>
                  </accordion-group>
                  <accordion-group heading="Search By Cusine">
                      <div class="panel panel-info">
                          <div class="col-md-6">
                              <p>Select Cusine and Borough
                                  <select ng-model="cusineItem" ng-options="c.name for c in cusineList" required class="form-control">
                                  </select>
                              </p>
                          </div>
                          <div class="col-md-2">
                              <p>&nbsp;
                                  <select ng-model="selectedBoro" ng-options="boro as boro.name for boro in boroList" 
                                      required class="form-control">
                                  </select>
                              </p>
                          </div>
                          <div class="col-md-2">
                              <p>&nbsp;
                                  <button id="cusine" ng-click="searchByCusine(cusineItem.name,selectedBoro.name,1)" 
                                      class="btn btn-primary">Search
                                  </button>
                              </p>
                          </div>
                      </div>
                      <div class="panel-heading">
                          <h3 class="panel-title">{[{cusineItem.name}]} in {[{selectedBoro.name}]} </h3>
                          <p class="yelp">Click Restaurant Name for Yelp Data</p>
                      </div>
                      <div class="panel-body">
                          <table class="table">
                              <thead>
                                  <tr>
                                      <th>Name</th>
                                      <th>Address</th>
                                      <th>Phone</th>
                                      <th>Grade</th>
                                      <th>Cusine</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr ng-repeat="restaurant in cusine_list" ng-click="yelp(restaurant)">
                                      <td>{[{restaurant.dba}]}</td>
                                      <td>{[{restaurant.building}]} {[{restaurant.street}]}</td>
                                      <td>{[{restaurant.phone | phoneFormat}]}</td>
                                      <td>{[{restaurant.current_grade}]}</td>
                                      <td>{[{restaurant.cusine_description}]}</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                      <div class="panel-footer">   
                          <p>{[{cusine_doc_count ? cusine_doc_count + " found for " +  cusineItem.name + " in " 
                             + selectedBoro.name : ''}]}  
                          </p>       
                      </div>
                      <div>
                          <pagination direction-links="false" boundary-links="true" total-items="cusine_doc_count" 
                               page="currentPage" max-size="10" 
                               on-select-page="searchByCusine(cusineItem.name,selectedBoro.name,page)"> 
                          </pagination>
                      </div>
                  </accordion-group>
              </accordion>
          </div>
     </div>
{% endblock %}
